[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
"cytoolz" = "==0.9.0.1"
"cytoolz-stubs" = "==0.0.1"

[dev-packages]
"bumpversion" = "==0.5.3"
"coverage" = "==4.5.4"
"flake8" = "==3.7.9"
"mypy" = "==0.740"
"nose" = "==1.3.7"
"pylint" = "==2.4.4"
"twine" = "==3.1.0"

[requires]
python_version = "3.6"

[scripts]
build = "python3 setup.py sdist"
type-check = "mypy ftoolz tests"
flake8-check = "flake8 --config=.flake8 ftoolz/ tests/"
lint = "pylint -j 0 --rcfile .pylintrc ftoolz tests"
tests = "python3 tests/run.py"
release-test = "python3 -m twine upload --repository-url https://test.pypi.org/legacy/ dist/*"
